.main-heading {
    color: lightcoral;
}

.text {
    color: #000;
}

.carousel-slider {
    width: 1000px;
    overflow: hidden;
}

.move-img {
    animation-name: nextImg;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: step-middle;
}

@keyframes nextImg {
    0%, 20% {
        transform: translate(0px, 0px);
    }
    50%, 70% {
        transform: translate(-1000px, 0);
    }
    85%, 100% {
        transform: translate(-2000px, 0);
    }
}